.preview-section-container {
  margin-top: 13vh;
}

.summary-price {
  color: var(--sc);
}

.local {
  background-color: var(--sc);
  svg {
    fill: var(--tc);
  }
}
.instock {
  color: var(--success);
  font-weight: bold;
}

.day-time {
  color: var(--g-blue);
}
.profile-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.buy-cta {
  background-color: var(--sc);
  color: var(--btn-w);
  &:hover {
    background-color: var(--scf);
    color: var(--pc);
  }
}

.description-h {
  color: var(--pc);
}
.description {
  line-height: 2;
}
.social {
  border: solid 1px var(--sc) !important;
  color: var(--pc);
  &:hover {
    background-color: var(--scf);
    color: var(--pc);
  }
}

.btn {
  font-size: 1.233rem;
}

.group {
  flex-wrap: nowrap;
}

.item-other-image {
}

.item-other-image img {
  cursor: pointer;
  max-width: 21.569rem;
}

.active-item {
  border: 4px solid var(--pc);
}
.reviews-links ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  padding: 0;
  a {
    text-decoration: none;
  }
}

.initial {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.789rem;
  width: 40px;
  height: 40px;
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--pcf);
  color: var(--fade);
}

.product {
  width: 40px;
  height: 40px;
}

.profile-stars {
  color: var(--sc);
}
